@media screen and (max-width:740px){
    .container{
        display: flex;
        flex-direction: column;       
    }
    .gauche{
        display: flex;
        flex: 3;
        margin-bottom: 50px;
    }
    .droite{
        display: flex;
        flex: 1;
        height: 25vh;
    }
}
@media screen and (max-width:480px){
    .accueil{
        font-size: 2em;
        margin-left: 10px;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1.3em;
    }
}
@media screen and (max-width:320px){
    .droite{
        height: 20vh;
    }
    p{
        font-size: 1.1em;
        text-align: left;

    }
    .menuItem,ul,li,a{
        font-size: 1em;
    }
}