*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    background-image:url(./img/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;

}

/*************************************HEADER***************************************/
header{
    margin-top: 30px;
    margin-left: 30px;
}
nav{
    
}