body{
  
    flex-direction:column;
    display: flex;
    background-color:darkseagreen;
    height: 200vh;
}

nav{
    height: 5vh;
    background-color: black;
    position: sticky;
    top: 20px;
    
    
    
}
ul{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.menu li{
    list-style-type: none;
    
}
.sousMenu{
    display: none;
}
nav>ul li:hover .sousMenu{
    display: block;
}
a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color:blue
}
.espace{
    margin-bottom: 20px;
}
.para{
    font-size: 30px;
}

