body{
    background-color:darkcyan;
    display: flex;
    flex-direction: column;
}

.un{
    height: 30vh;
    background-color: red; 
}
.container{
    flex-direction: row;
    display: flex;
    height: 50vh;
}

.du_container:nth-child(1){
    height: 20vh;
    background-color: black;
    flex: 2;
}
.du_container:nth-child(1):hover{
    background-color: yellowgreen;
}
.du_container:nth-child(2){
    height: 20vh;
    background-color: blue;
    flex: 2;
}
.du_container:nth-child(3){
    height: 20vh;
    background-color: green;
    flex: 2;
}
