*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    background-image:url(./img/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;

}
/*---------------------------------------HEADER----------------------------------------*/
header{
    background-image: url(./img/sky.jpg);
    background-size: cover;
    height: 50vh;
}
figure{
    position: absolute;
    top: 15%;
    left: 10%;
}
.slogan{
    position: absolute;
    top: 22%;
    left: 35%;
}
h1{
    font-size: 5em;
    letter-spacing: 2px;
}
/*---------------------------------------MONTAGNE----------------------------------------*/
.container1{
    display: flex;
    flex-direction: row;
    height: 60vh;
    margin:25vh;
}
.montagne:nth-child(1){
    flex: 1;
    background-color: white;
}
.montagne:nth-child(2){
    flex: 1;
    background-image: url(./img/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.montagne h2{
    font-size: 3em;
    text-align: center;
    margin: 100px 30px 30px 30px;
    letter-spacing: 2px;
}
.montagne p{
    font-size: 1.5em;
    text-align: justify;
    padding: 100px 100px 50px 100px;
    line-height: 30px;  
}
/*---------------------------------------PLAGE----------------------------------------*/
.container2{
    height: 60vh;
    margin:25vh;
    display: flex;
    flex-direction: row;
}
.plage:nth-child(1){
    flex: 1;
    background-image: url(./img/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.plage:nth-child(2){
    flex:1;
    background-color: white;
}
.plage h2{
    font-size: 3em;
    text-align: center;
    margin: 100px 30px 30px 30px;
    letter-spacing: 2px;
}
.plage p{
    font-size: 1.5em;
    text-align: justify;
    padding: 100px 100px 50px 100px;
    line-height: 30px;
}
/*---------------------------------------DESTINATIONS----------------------------------------*/

.destination{
    height: 100px;
    margin: 0 25vh;
}
.destination h2{
    line-height: 80px;
    font-size: 4em;
    letter-spacing: 20px;
    text-align: center;
}

/*---------------------------------------PAYS----------------------------------------*/
.container3{
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin: 0 15vh;
}
.pays:nth-child(1){
    flex: 1;
    background-image: url(./img/08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.pays:nth-child(2){
    flex: 1;
    background-image: url(./img/07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.pays:nth-child(3){
    flex: 1;
    background-image: url(./img/06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.pays:nth-child(4){
    flex: 1;
    background-image: url(./img/05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.pays:nth-child(1) h3{
    color: #f5deb3;
    position: relative;
    text-align: center;
    top: 35%;
    font-size: 2.5em;
    line-height: 50px;
}
.pays:nth-child(2) h3{
    position:relative;
    text-align: center;
    font-size: 2.5em;
    color: black;
    top: 35%;
    line-height: 50px;
}
.pays:nth-child(3) h3{
    position:relative;
    text-align: center;
    font-size: 2.5em;
    color: black;
    top: 35%;
    line-height: 50px;
}
.pays:nth-child(4) h3{
    position:relative;
    text-align: center;
    font-size: 2.5em;
    color: black;
    top: 35%;
    line-height: 50px;
}
.container4{
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin: 20vh 15vh;
}
.paysSud:nth-child(1){
    flex: 1;
    background-image: url(./img/04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.paysSud:nth-child(2){
    flex: 1;
    background-image: url(./img/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.paysSud:nth-child(3){
    flex: 1;
    background-image: url(./img/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.paysSud:nth-child(4){
    flex: 1;
    background-image: url(./img/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.paysSud:nth-child(1) h3{
    position:relative;
    text-align: center;
    font-size: 2.5em;
    color: black;
    top: 35%;
    line-height: 50px;
}
.paysSud:nth-child(2) h3{
    position:relative;
    text-align: center;
    font-size: 2.5em;
    color: black;
    top: 35%;
    line-height: 50px;
}
.paysSud:nth-child(3) h3{
    position:relative;
    text-align: center;
    font-size: 2.5em;
    color: black;
    top: 35%;
    line-height: 50px;
}
.paysSud:nth-child(4) h3{
    color: #f5deb3;
    position: relative;
    text-align: center;
    top: 35%;
    font-size: 2.5em;
    line-height: 50px;
}
/*---------------------------------------FOOTER----------------------------------------*/

footer{
    height: 15vh; 
    background-image: url(./img/pp.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}
footer h2{
    color: black;
    font-size: 3em;
    letter-spacing: 5px;
    text-align: center;
    padding: 55px;
}
