/*-------------------------GLOBAL ET HEADER-------------------------------*/

@media screen and (max-width:1100px) {
    html{
        font-size: 50%;
    }   
}

@media screen and (max-width:1200px){
    .container{
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

/*-------------------------NAVIGATION-------------------------------*/

@media screen and (max-width:900px){
    .content{
        flex-direction: column;
    }
    .side-nav{
        display: flex;
        margin: 0;
    }
    .side-navItem:not(:last-child){
        margin: 0;
    }
    .side-navItem{
        flex: 1;
    }
    .side-nav a{
        justify-content: center;
        padding: 2rem;
    }
}
@media screen and (max-width:600px){
    .side-nav a{
        flex-direction: column;
        padding: 1.5rem .5rem;
    }
    .side-navIcon{
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}