*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #777;
    background-image: linear-gradient(to right bottom,#31708e,#5085a5);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container{
    max-width: 120rem;
    margin:  8rem auto;
    background-color: #faf9f9;
    box-shadow:0 2rem rgba(0, 0, 0, 0.3) ;
    min-height: 50rem;
}
.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid #f4f2f2;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    height: 3.25rem;
    width: 5rem;
    margin-left: 2rem;
}