*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

html,body,div,main,nav{
    justify-content: center;
    flex: 1;
}

div{
    display:flex;  
}
.colonne{
    flex-direction: column;
}
.espaceHor{
    flex: none;
    height: 1vh;
    background-color: #0a6290;
}
.espaceHorizon{
    flex: none;
    height: 5vh;
}
.espaceVer{
    flex: 1;   
}
.triple{
    flex: 8;
}
.mini{
    flex: 0.3;
}
.miniCentral{
    flex: 0.05;
}

/*---------------------------BAR MENU----------------------------*/
img{
    width: 100%;
}
.image{
    flex: 0.2;
}
.navMenu{
   flex: 3;
   justify-content: left;
}
.menu{
    font-size: 1em;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #0A6290;
}
/*-----------------------------HEADER----------------------------*/
.enTete{
    background-image: url(./img/esat-ttg-02.jpg);
    background-size: cover;
    height: 100vh;
}
h1{
    color: white;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: 89%;
    left: 32%;
}
.imageDown{
    width: 3%;
    position: absolute;
    top: 100%;
    left: 48%;
}
/*-------------------------------SECTION MAIN--------------------------*/
main{
    background-color: #e5ebf7;
}
.duMilieu{
    background-color: white;
    box-shadow: 2px 2px 15px grey ;
}
.content1{
    flex: 8;
}
h2{
    color: #09629F;
    font-size: 1.2em;
}
.sousTitre1{
    justify-content: left;
}
.sousTitre{
    justify-content: left;
    display: flex;
    flex: 1;
}
p{
    font-size: 1.3em;

}
.paragraphe{
    justify-content: left;
}
.para{
    justify-content: left;
}
.para2{
    display: flex;
    flex: 2;
}

.content2{
    display: flex;
}
.photo{
    box-shadow: 2px 2px 15px grey ;
}
.liste{
    justify-content: left;
    padding-left: 50px;
    font-size: 1.2em;
    margin-top: 20px;
}







