body, div, header, footer{
    display: flex;
    justify-content: center;
    flex:1;
}
img{
    width: 100%;
}
.colonne{
    flex-direction: column;
}
.titre{
    flex:5;
    font-size: 2em;
    align-items: center;
}

.client{
    border: 1px black solid;
    padding: 2em;
    background-color: rgb(136, 136, 216);
}
.liste, .page{
    flex: none;
    width: 80%;
    align-self: center;
}
.btn{
    align-items: center;
}
button{
    padding: 1em;
}
.entete{
    font-size: 1.2em;
    font-weight: 400;
}