div{
    display: flex;
    flex:1;
}

.colonne{
    flex-direction: column;
}

.bleu{
    background-color: blue;
    height: 750px;
}

.top{

}

.rouge{
    background-color: red;
    margin: 5px;
}

.gris{
    background-color: grey;
    margin: 5px;
}

.jaune{
    background-color: yellow;
    margin: 10px;
}

.green{
    background-color: green;
    margin:5px;
}

.centre{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pied{

}