/****  GENERAL ****/
html, body {
	margin : 0;
	padding : 0;
}

div, header, footer, nav, article {
	display : flex;
	flex : 1;
	justify-content: center;
}

img, video {
	width : 100%;
}
.colonne{
	flex-direction: column;
}

.titre{
	flex: 5;
	font-size: 2em;
	font-weight: 900;
	align-self: center;
}
.lang
{
	align-items: center;
}