@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Alegreya Sans', sans-serif;
    overflow-x: hidden;
    background-color: cadetblue;
}
img{
    width: 100%;
}
.titre{
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
   
}
.colonne{
    flex-direction: column;
   
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}
.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}
.nav a:hover{
    color: #fff;
    transition: 0.4s;
}
.nav .close{
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px;
}
.slide a{
    color: #000;
    font-size: 36px;
}
.content{
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
}
.espaceHor{
    flex: none;
    height: 3vh;
    /* background-color: tomato; */
}
.mini{
    display: flex;
    flex: 1.1;
    /* background-color: red;*/
} 
.miniEntre{
    display: flex;
    flex: 0.2;
    /* background-color: yellow; */
}
.centrale{
    display: flex;
    background-color: #9e9d89;
    justify-content: center;
    /* align-items: center; */
    color: white;
    box-shadow: 1px 1px 12px black;
}
.conten1{
    flex: 2;
    background-color: #a5a3a3;
    color: white;
    box-shadow: 1px 1px 12px black;
}
.louer{
    text-align: center;
}
.compte{
    display: flex;   
}
.seConnecter{
    display: flex;
    flex: 3;
    text-align: center;
}
.connexion{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 6px black;
    
}
.creationCompte{
    display: flex;
    justify-content: center;
    flex: 3;
}
a{
    text-decoration: none;
}
.inscription{
    display: flex;
    flex: 3;
    text-align: center;
}
h1{
    color: white;
    padding-left: 10px;
}
p{
    font-size: 1.2em;
}
h2{
    padding-left: 10px;
    font-weight: lighter;
}
.formulaireConnexion{
    text-align: center;
}
.valider{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 6px black;
    margin-right: 20px;
}
.annuler{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 6px black;
    margin-right: 20px;
}
.retour{
    color: black;
}
.formulaireInscription{
    text-align: center;
    color: black;
}
            
.prenomInput{
    position: relative;
    left: 1%;
}
.nomInput{
    position: relative;
    left: 2%;
}
.labelAdrMail{
    position:relative;
    right: 3%;
}
.adrMailInput{
    position: relative;
    right: 1%;
}
.labelNumTel{
    position:relative;
    right:6% ;
}
.inputNumTel{
    position: relative;
    right: 4%;
}




