*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     
}
.items{
    background-color: #ec4c4c;
    padding: 10px;
    margin: 30px;
    color: #fff;
    font-size: 40px;
}
.i2{
    height: 20vh;
}
.i4{
    font-size: 50px;
}
.i3{
    order: -1;