body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e40017;
}
.jeu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.ligne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.case{
    margin: 0.5vw;
}
img{
    width: 100%;
}
#messages {
    display: flex;
    justify-content: space-between;
}
#boutons {
    text-align: center;
}
h1{
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.plage{
    border: 1px solid black;
    box-shadow: 1px 1px 12px;
   
}