*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html, body, div{
    display: flex;
    flex: 1;
    justify-content: center;
}
body{
    flex: none;
    flex-direction: column;
    width: 50%;
}

.container{
    padding-top: 5vh;
    background-color: #ff8500;
    display: flex;
    flex-direction: column;
    padding-bottom: 100vh; 
}
header{
    display: flex;
    flex-direction: row;
}
.espaceCote{
    flex: 0.38;
}
.titreHeader{
    flex: 3;   
}
h1{
    color: white;
    font-size: 4em;  
    position: relative;
    left: -26%;
}
.espaceBottom{
    background-color: red;
    height: 4vh;
    flex: none;    
}