*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html, body, div{
    display: flex;
    flex: 1;
    justify-content: center;
}
body{
    flex: none;
    flex-direction: column;
    width: 42%;
}
/*-------------------------HEADER-------------------------------------*/

.container{
    padding-top: 5vh;
    background-color: #ff8500;
    display: flex;
    flex-direction: column;
    padding-bottom: 100vh; 
}
header{
    display: flex;
    flex-direction: row;
}
.espaceCote{
    display: flex;
    flex: 0.3;
    background-color: blue;
}
.titreHeader{
    flex: 4;
    justify-content: left;   
}
h1{
    color: white;
    font-size: 4em;
    font-family: 'DM Serif Display', serif; 
     
}
.espaceBottom{
    background-color: red;
    height: 2vh;
    flex: none;    
}
/*----------------------------SECTION 1------------------------------*/
.texte{
    display: flex;
    flex-direction: row;
}
.texte1{
    flex: 4;
    color: #fefefe;
    line-height: 30px;
    font-family: 'DM Serif Display', serif;
    font-size: 0.9em;
    text-align: justify;
}
/*---------------------------SECTION 2------------------------------*/
.sousTitre{
    display: flex;
    flex-direction: row;
}
.sousTitre1{
    display: flex;
    flex: 4;
    justify-content: left;   
}
h2{
    color: black;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5em;
    font-weight: bold;
}
