body{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}
header{
    height: 20vh;
    background-color: coral;
}
.espace{
    height: 5vh;
    flex: none;
}
.container{
    flex-direction: row;
    display: flex;
}
.espaceCote{
    width: 20vh;
} 
.gris{
    background-color: gray;
    flex: 1;
    text-align: left;
}
.espaceEntre{
    width: 1vh;
}
.jaune{
    flex: 3;
    background-color: yellow;
    text-align: left;
}
footer{
    height: 45vh;
    background-color: yellowgreen;
}
