body{
    flex-direction: column;
    display: flex;
    background-color: lightskyblue;
}
.espaceTop{
    height: 5vh;
}
.container1{
    flex-direction: row;
    display: flex;
}
.orange{
    background-color: orange;
    flex: 2;
    height: 30vh;
}
.espace1{
    width: 5vh;
   
}
.gris{
    background-color: gray;
    flex: 2;
    height: 30vh;
}
.espace2{
    height: 5vh;
   
}
.jaune{
    background-color: #fed049;
    height:  35vh;
}
.espace3{
    height: 3vh;
    
}
.container2{
    flex-direction: row;
    display: flex;
}
.orange1{
    background-color: orange;
    flex: 1;
    height: 20vh;
}
.espaceOrange{
    width: 5vh;
    
}
.orange2{
    background-color: orange;
    flex: 1;
    height: 20vh;
}
.espaceOrange{
    width: 5vh;
}  
.orange3{
    background-color: orange;
    flex: 1;
    height: 20vh;
}
.espaceOrange{
    width: 5vh;
    
}
.orange4{
    background-color: orange;
    flex: 1;
    height: 20vh;
}
.espace4{
    height: 3vh;
    
}
.container3{
    flex-direction: row;
    display: flex; 
}
.jaune1{
    background-color: #fed049;
    flex: 2;
    height: 30vh;
}
.espaceJaune{
    width: 8vh;
    
}
.jaune2{
    background-color: #fed049;
    flex: 2;
    height: 30vh;
}
.espace5{
    height: 5vh;
    
}
footer{
    background-color: green;
    height: 30vh;
    flex: none;
}
.espaceBottom{
    height: 5vh;
    
}