
div{
    display:flex;
    flex:1;
}
.colonne{
    flex-direction: column;
}
.blue{
    border:4px solid blue;
    height:800px;
    padding: 15px;

}
header{
    border: 1px solid coral;
}

.container{
    margin-top: 10px;
}
.gauche{
    flex:1;   

}
.gauche1{
    border: 1px solid grey;
    margin-top: 5px;
    
}
.droite{
    margin-left: 20px;
    flex:3;
}
.droite1{
    border: 4px solid yellow;
    margin-top: 5px;  
}
.footer{
    border: 4px solid green;
    margin-top: 15px;
}
