@media screen and (max-width:600px){
    .duHaut{
        display: flex;
        flex-direction: column;
    }
    .duBas{
        display: flex;
        flex-direction: column;
    }
    p{
        position: relative;
    }
    .content2 p{
        top:25% ;
    
    }

}