
html,body,header,footer,div,nav,section,main{
    margin:0;
    padding:0;
    display: flex;
    flex:1;
    
}
main{
   
    height:70vh;
}
.colonne{
    flex-direction: column;
}
body{
    background-color:beige;
}
header,footer{
    background-color:beige;
}
header{
    height:20vh;
}
h1{
    text-align: center;
    position: relative;
    left:45%;
    top:25%;
}
footer,h2{ 
    height:20vh;
    text-align:center;
    position: absolute;
    left:48%;
    top:76%;
    font-size: 10px;
}
main,.un{
    background-color:white;
    flex:2
}
.un{
    background-color:beige;
}
.deux{
    flex:2;
    background-color:greenyellow
}
.trois{
    flex:2;
    background-color:beige
}
.demi{
    flex:0.2;
    background-color:beige;
}
.espace{
    flex-wrap: nowrap;
    flex: 0.2;
    background-color: white;
}

