body{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}
.container1{
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin: 80px;
}
.gauche{
    flex: 1;
    background-color: orangered;
    margin-right: 30px;
}
.droite{
    flex: 1;
    background-color: grey;
    margin-left: 30px;
}
.jaune{
    height: 30vh;
    background-color: yellow;
    margin: 0 80px 80px
}
.container2{
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin: 0 60px ;
}
.orange:nth-child(1){
    background-color: orangered;
    flex: 1;
    margin: 20px;
}
.orange:nth-child(2){
    background-color: orangered;
    flex: 1;
    margin: 20px;
    
}
.orange:nth-child(3){
    background-color: orangered;
    flex: 1;
    margin: 20px;
}
.orange:nth-child(4){
    background-color: orangered;
    flex: 1;
    margin: 20px;
}
.verte{
    height:30vh;
    background-color: green;
    margin: 80px;
}