@media screen and (max-width:1100px){
    div{
        font-size: 1em;
    }
    .content{
        display: flex;
        flex-direction: column;
    } 
    .mini{
        flex:0;
    }
    .espaceHorMedia{
        flex: none;
        height: 3vh;

    }

}